/*noinspection CssUnknownTarget*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

#main {
  padding: 15px;
  background: #fff;
}

.row {
  display: flex;
  flex-direction: row;
  margin: 0;
  align-items: center;
}

button.PPbutton {
  outline: none;
  border: none;
  border-radius: 2px;
  background-color: #2980b9;
  padding: 4px 8px;
  cursor: pointer;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  transition: .15s ease;
  border-bottom: 2px solid rgba(44, 62, 80, .5);
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
  margin: 10px 5px 0;
}

button.PPbutton:hover {
  transition: .15s ease;
  transform: scale(1.02);
}

#title{
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #000;
  font-weight: 600;
  margin: 0 0 -5px 5px;
}

span{
  font-family: 'Poppins', sans-serif;
  font-size: 9px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 300;
  margin: 0 0 10px 5px;
}