/*noinspection CssUnknownTarget*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

#main {
  background: #090013;
  width: 250px;
  height: 300px;
  padding: 10px;
}

#title{
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  text-align: center;
  color: #f1675b;
  font-weight: 600;
}

.row {
  display: flex;
  flex-direction: row;
  margin: 0;
  align-items: center;
}

body {
  margin:0 !important;
  border-radius: 10px;
}

hr {
  height: 1px;
  background-color: #f8c2b1;
  border: none;
}

p {
  color: #dedede;
}

input.InputField {
  background-color: rgba(90, 90, 90, 0.38);
  color: white;
  outline: none;
}

input[type=text]:focus {
  border: 3px solid #555;
}